@charset "UTF-8";
@import url();

body{
  height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  background-color: black;
  color: white;
  text-align: center;
  height: 250px;
  margin-bottom: 70px;
}
header h1{
  padding-top: 40px;
  font-size: 100px;
  margin: 0;
}
header a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
section{
  font-size: 50px;
}
section p{
  margin: 0;
  font-family: sirira;
  line-height: 0.6;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
}
footer p{
  padding-top: 10px;
}
footer a{
  color: white;
  text-decoration: none;
}

.imagem1{
  background-image: url(../imagens/background001.jpg);
  color: white;
  background-position: center center;
  background-attachment: scroll;
 
}
.imagem2{
  background-image: url(../imagens/background002.jpg);
  color: white;
  background-position: center center;
  background-attachment: scroll;
}




